<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input class="new-todo" placeholder="Type new todo" autofocus type="text" [formControl]="newTaskControl"
        (keydown.enter)="changeHanldler()" />
      </div>
    </header>
    <div class="container todoapp-wrapper">
      <!-- This section should be hidden by default and shown when there are todos -->
      <pre>
        <code>
          {{ tasks() | json }}
          <hr>
            {{ filter() }}
          </code>
        </pre>


        <section class="main">
          <ul class="todo-list">

            <!-- //RENDERIZADO CON NGFOR -->
            @for (task of taskByFilter(); track task; let i = $index) {
              <li (dblclick)="updateTaskEditingMode(i)"
                [class.editing]="task.editing"
                [class.completed]="task.completed"
                >
                <div class="view">
                  <input class="toggle" type="checkbox" [checked]="task.completed" (change)="updateTask(i)" />
                  <label> {{ task.tittle }}</label>
                  <button class="destroy" (click)="deleteHandler(i)"></button>
                </div>
                <input class="edit" (keydown.enter)="updateTaskText(i,$event)"  [value]="task.tittle" />
              </li>
            }

            <!-- //EJEMPLOS DEL RENDERIZADO Y SUS CLASES -->
            <!-- <li class="completed">
            <div class="view">
              <input class="toggle" type="checkbox" checked />
              <label>Learn JavaScript</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Learn JavaScript" />
          </li>

          <li>
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Buy a unicorn</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Buy a unicorn" />
          </li>

          <li class="editing">
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Make dishes</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Make dishes" />
          </li> -->

        </ul>
      </section>
      <!-- AGREGAMOS UNA CONDICIONAL PARA EL FOOTER Y SOLO SE MUESTR CUANDO LA LISTA TENGA POR LO MENOS UN ELEMENTO -->
      @if (taskByFilter().length > 0) {
        <footer class="footer">
          <!-- CAMBIAMOS LA LISTA DE LA QUE SE COMPRUEBA PARA VER EL TAMAÑO Y LA PLURALIZACION -->
          <span class="todo-count"><strong>{{ taskByFilter().length }}</strong> item@if (taskByFilter().length > 1) {
          <span>s</span>
        }
      left</span>
      <!-- Agregamos CONDICIONALES PARA COMPROBAR EL ESTADO DE SELECTED EN NUESTROS FILTROS -->
      <ul class="filters">
        <li>
          <a (click)="changeFilter('all')" [class.selected]="filter() == 'all' ">All</a>
        </li>
        <li>
          <a (click)="changeFilter('pending')" [class.selected]="filter() == 'pending' ">Pending</a>
        </li>
        <li>
          <a (click)="changeFilter('completed')" [class.selected]="filter() == 'completed' ">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  }
</div>
</section>